spring:
  datasource:
    url: ${CHARGE_STATION_DB:jdbc:postgresql://localhost:5433/charge}
    username: admin1
    password: 123456
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    database: postgresql
    open-in-view: false
    generate-ddl: false
websocket:
  url: ${WEB_SOCKET_URL:ws://localhost:8443}

springdoc:
  version: '@springdoc.version@'
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
  oAuthFlow:
    authorizationUrl: ${keycloak.auth-server-url}/realms/${keycloak.realm}/protocol/openid-connect/auth
    tokenUrl: ${keycloak.auth-server-url}/realms/${keycloak.realm}/protocol/openid-connect/token
liquibase:
  change-log: classpath:/db/changelog/db.changelog-master.yaml
  default-schema: public